<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fut-Gol</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="header">
        <img class="imagen" src="../static/imagenes/canal-de-futbol.png" alt="logo">
        <nav class="nav conbtenedor">
            <div class="titulo">
                <h2>Fut-Gol</h2>
            </div>
            <a href="" class="link" >Jugadores</a>
            <a href="" class="link" >Equipos</a>
            <a href="" class="link" >Estadisticas</a>
            <a href="/login" class="link" >Iniciar Sesion</a>
            <a href="/register" class="link" >Registro</a>
        </nav>
    </header>
        <section class="section">
        <div class="contenido-section">
            <h1 class="h1">
                ¡Bienvenido a Fut-Gol!
            </h1>
            <p class="paragraph">
                En Fut-Gol, te ofrecemos la experiencia definitiva para seguir la Copa América. Explora los perfiles detallados de los
                jugadores más destacados, conoce a fondo a cada equipo participante y mantente al día con las estadísticas más completas
                y actualizadas del torneo.
                
                ¡No te pierdas ni un detalle del torneo más emocionante de América Latina!
                
                Para disfrutar de todo esto, <a href="/register">Resgistrate Aqui</a> y, si ya estás registrado, [inicia sesión aquí].
            </p>
        </div>
        </section>
</body>
</html>